<%- include('includes/head_admin') %>

<% if (showTitle) { %>
  <h1><%= title %></h1>
<% } %>

<main role="main" class="inner cover">
  <h1 class="cover-heading">This is the Admin page</h1>
  <p class="lead">Here Admin users will be able to do such operations as adding new movies, archiving axisting movies, managing orders and rents</p>
</main>

<%- include('includes/footer') %>
