<div class="modal fade" id="changeRolesModal" tabindex="-1" aria-labelledby="removeUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changing role(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-3 pb-3">

        <div id="msg" class="d-none"></div>

        <form id="changeRolesBodyForm" method="post" action="/users/dashboard/users-management/manage/<%= locals.currentPage %>">
         <div id="changeRolesFrmGrp" class="form-group">
           <h5 id="changeRolesFrmGrpTitle" class="text-center pb-3">You selected:</h5>
         </div>
       </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="changeRolesConfirmBtn" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
