<%- include('includes/head') %>

<% if (showTitle) { %>
  <h1><%= title %></h1>
<% } %>

<body class="text-center"> <!-- <body class="text-center bg-dark"> -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cinema Tickets Booking</h3>
          <% if(!locals.user) { %>
            <nav class="nav nav-masthead nav-login-content"> <!-- need to make all the navbar items to be collapsed, when users are entering the website from their mobile -->
              <a class="nav-login-link" href="/users/login"> <!-- IMPORTANT!!! Will need to add a tooltip on hover -->
                  <svg class="bi bi-box-arrow-right" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                    <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
                </svg>
              </a>
            </nav>
          <% } else { %>
            <nav class="nav nav-masthead nav-login-content">
              <a class="nav-login-link" href="/users/logout">
                <svg class="bi bi-box-arrow-left" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.354 11.354a.5.5 0 0 0 0-.708L1.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                  <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0 0 1h9a.5.5 0 0 0 .5-.5z"/>
                  <path fill-rule="evenodd" d="M14 13.5a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 14 2.5H7A1.5 1.5 0 0 0 5.5 4v1.5a.5.5 0 0 0 1 0V4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H7a.5.5 0 0 1-.5-.5v-1.5a.5.5 0 0 0-1 0V12A1.5 1.5 0 0 0 7 13.5h7z"/>
                </svg>
              </a>
            </nav>
          <% } %>
          <nav class="nav nav-masthead justify-content-center">
            <form class="nav-form-content form-inline">
                <input class="nav-form-item form-control" type="text" placeHolder="Search for a movie..." aria-label="Search">
                <button class="nav-form-item btn btn-outline-danger" type="submit">Search</button>
            </form>
          </nav>
          <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/food_and_drinks">Food & Drinks</a>
              <a class="nav-link active" href="/about">About</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">About</h1>
        <p class="lead">Suspendisse potenti. Integer turpis nunc, rhoncus eget molestie in, finibus consequat magna. In sollicitudin mauris feugiat metus euismod, at pellentesque nibh laoreet. Duis ornare tempus sem, quis maximus sem rhoncus at. Ut id pulvinar lacus. Donec eget suscipit ante. Mauris faucibus neque enim, non aliquam orci cursus mattis.</p>
      </main>

<%- include('includes/footer') %>
