<%- include('includes/head') %>

<body class="text-center"> <!-- <body class="text-center bg-dark"> -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <br>
        <h1 class="cover-heading"> <%= title %> </h1>
      </header>

      <main role="main" class="inner cover">
        <h2> <%= msg %> </h2>
        <br><br><br>
        <p class="lead">
          <a href="/" class="btn btn-lg btn-danger">Go back to the Home Page...</a>
        </p>
      </main>



<%- include('includes/footer') %>
