<%- include('includes/head_dashboard') %>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Cinema Booking Dashboard</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/users/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Users <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Movies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Orders & Rents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button
          </div>-->

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">Add</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="remove-tab" data-toggle="tab" href="#remove" role="tab" aria-controls="remove" aria-selected="false">Remove</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="add-or-remove-roles-tab" data-toggle="tab" href="#add-or-remove-roles" role="tab" aria-controls="add-or-remove-roles" aria-selected="false">Add or Remove role(s)</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="manage-roles-tab" data-toggle="tab" href="#manage-roles" role="tab" aria-controls="manage-roles" aria-selected="false">Manage roles</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="add-tab">
              <!--<div class="table-responsive">
                <form method="post" acion="/users/dashboard/users-add">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th></th>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-Mail</th>
                        <th>Username</th>
                        <th>Role</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input class="checkbox-red" type="checkbox" name="users"></td>
                        <td> 1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                        <td>doloripsum</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="users"></td>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                        <td>alsapsum</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" name="users"></td>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                        <td>omrum</td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>-->
            </div>
            <div class="tab-pane fade" id="remove" role="tabpanel" aria-labelledby="remove-tab">
              <form method="post" acion="/users/dashboard/users-remove">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>E-Mail</th>
                      <th>Username</th>
                      <th>Role</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input class="checkbox-red" type="checkbox" name="users"></td>
                      <td> 1,001</td>
                      <td>Lorem</td>
                      <td>ipsum</td>
                      <td>dolor</td>
                      <td>sit</td>
                      <td>doloripsum</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="users"></td>
                      <td>1,002</td>
                      <td>amet</td>
                      <td>consectetur</td>
                      <td>adipiscing</td>
                      <td>elit</td>
                      <td>alsapsum</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="users"></td>
                      <td>1,003</td>
                      <td>Integer</td>
                      <td>nec</td>
                      <td>odio</td>
                      <td>Praesent</td>
                      <td>omrum</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="tab-pane fade" id="add-or-remove-roles" role="tabpanel" aria-labelledby="add-or-remove-roles-tab">...</div>
            <div class="tab-pane fade" id="manage-roles" role="tabpanel" aria-labelledby="manage-roles-tab">...</div>
          </div>
        </main>
      </div>
    </div>

<%- include('includes/footer_dashboard') %>
