body {
  font-size: .875rem;
}

/*
* Custom default button
*/
.btn-outline-secondary {
  color: #696969;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #696969;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: #fff;
  background-color: #696969;*/
}
/* *** */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/*
* Custom sidebar colors
*/
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  color: #696969;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  font-weight: 700;
  color: #dc3545;
}
/* *** */

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Navbar
 */

/*
* Changing navbar's default color background
*/
.bg-dark /*.navbar-dark*/ {
  background-color: #333 !important;
}
/* *** */


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  white-space: normal; /* Adding word-wrap => temporary solution */
}

/*
* Custom nav-tabs color format & tables border styles + indents
*/

.nav-tabs .nav-link {
  color: #dc3545;
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  color: #b32936;
}

.nav-tabs .nav-link.active:hover {
  color: inherit;
}

table.table.table-striped.table-sm {
  margin-top: .25rem;
}

table.table.table-striped.table-sm thead {
  border-top-style: hidden;
}

/*
* Custom form-control height
*
.form-control {
  height: auto;
}
/* *** */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

/*
* Customizing "Search" paceholder
*/
.form-control-dark::placeholder {
  color: #999;
}

.form-control-dark:focus::placeholder {
  color: #333;
}
/* *** */

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
