<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for cover template -->
    <link href="css/cover.css" rel="stylesheet">
    </head>
    <body class="text-center">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <div class="masthead-brand">
                <h3 class="main-title">Admin dashboard</h3>
                <hr>
                <p class="sub-title">Cinema Tickets Booking</p>
              </div>
              <div class="justify-content-center">
                <nav class="nav nav-masthead">
                  <a class="nav-link" href="#">Management</a>
                  <a class="nav-link" href="#">Archive</a>
                  <a class="nav-link" href="#">Manage orders and rents</a>
                  <!--<form class="nav-form-content form-inline">
                    <input class="nav-form-item form-control" type="text" placeHolder="Search for a movie..." aria-label="Search">
                    <button class="nav-form-item btn btn-outline-danger" type="submit">Search</button>
                  </form>-->
                </nav>
              </div>
            </div>
          </header>
